@import "tailwindcss";
/* @font-face {
  font-family: "LemonMilk";
  src: url("./assets/font/LemonMilkMedium-mLZYV.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
} */
@font-face {
  font-family: "FredokaOne";
  src: url("./assets/FredokaOne-Regular/FredokaOne-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
